* {
  font-family: 'Roboto', sans-serif;
}

header {
  position: relative;
}

nav {
  height: 50px;
  background-color: #212121;
}

.hamburger {
  display: none;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 13px 70px;
  margin: 0;
  list-style-type: none;
}

.menu .menu_link {
  color: #ffffff;
  font-size: 15px;
  font-weight: 300;
}

.menu .menu_item {
  border-right: 2px dotted black;
  padding-right: 28px;
}

.menu .menu_item:last-child {
  border-right: none;
}

.subheader {
  position: absolute;
  width: 100%;
  height: 84px;
  background-color: rgba(0, 0, 0, 0.6);
}

.subheader .subheader_logo {
  display: block;
  max-width: 100%;
  margin-top: 16px;
}

.subheader .subheader_official {
  margin-top: 6px;
  opacity: 0.5;
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
}

.subheader .subheader_call {
  margin-top: 19px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 300;
  text-align: right;
}

.subheader .subheader_phone, .subheader_visible {
  display: block;
  margin-top: 8px;
  color: #ffffff;
  font-size: 22px;
  font-weight: 400;
  line-height: 12px;
  text-align: right;
  text-transform: uppercase;
}

.subheader .subheader_btn {
  margin-top: 19px;
  width: 172px;
  height: 46px;
  -webkit-box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
          box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
  border: none;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
  background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  border-radius: 4px;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.promo {
  min-height: 800px;
  background: url("../img/bg.png") center center/cover no-repeat;
  padding: 150px 0 135px 0;
}

.promo .promo_header {
  color: #ffffff;
  font-size: 60px;
  font-weight: 700;
  font-style: normal;
  line-height: 60px;
  margin: 0;
  text-align: center;
}

.promo .promo_subheader {
  color: #ffffff;
  font-size: 36px;
  font-weight: 700;
  font-style: normal;
  line-height: 36px;
  margin: 0;
  border-top: 22px;
  text-align: center;
}

.promo .promo_descr {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  text-align: center;
  margin-top: 23px;
}

.promo .promo_btn {
  display: block;
  margin: 118px auto 0 auto;
  width: 259px;
  height: 63px;
  -webkit-box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
          box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
  background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.work {
  min-height: 900px;
  background-color: white;
  padding: 79px 0 68px 0;
}

.work_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 35px;
}

.work_item_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 113px;
  height: 113px;
  background-color: #1eacc7;
  border-radius: 100%;
}

.work_item_descr {
  width: 341px;
  color: #202020;
  font-size: 15px;
  font-weight: 300;
  text-align: justifyLeft;
  margin-left: 26px;
}

.work_item_descr span {
  color: #1eacc7;
  font-size: 17px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

.label {
  display: block;
  margin: 0 auto;
  width: 112px;
  height: 24px;
  background-color: #000000;
  color: #ffffff;
  font-size: 11px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  padding: 4px;
}

.title {
  color: #222222;
  font-family: Roboto;
  font-size: 38px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin-top: 44px;
}

.subtitle {
  margin-top: 19px;
  color: #222222;
  font-size: 17px;
  font-weight: 400;
  text-align: center;
}

.mobile {
  min-height: 864px;
  padding: 48px 0 79px 0;
  background: url("../img/mobilebg.png") center center/cover no-repeat;
}

.mobile .row {
  margin-top: 32px;
}

.mobile_item {
  position: relative;
  width: 320px;
  height: 280px;
  margin: 0 auto;
  margin-bottom: 19px;
  padding-top: 92px;
}

.mobile_item_1 {
  background: url("../img/first.png") center center/cover no-repeat;
}

.mobile_item_2 {
  background: url("../img/second.png") center center/cover no-repeat;
}

.mobile_item_3 {
  background: url("../img/thirt.png") center center/cover no-repeat;
}

.mobile_item_4 {
  background: url("../img/four.png") center center/cover no-repeat;
}

.mobile_item_5 {
  background: url("../img/five.png") center center/cover no-repeat;
}

.mobile_item_6 {
  background: url("../img/six.png") center center/cover no-repeat;
}

.mobile_item_subtitle {
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
  text-align: center;
  text-transform: uppercase;
}

.mobile_item_plus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 35px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 26px;
  height: 26px;
  background-color: #000000;
  margin: 0 auto;
  border-radius: 100%;
  padding: 6px;
  cursor: pointer;
}

.car {
  min-height: 896px;
  background: url("../img/bg_black.png") center center/cover no-repeat;
  padding: 65px 0 138px 0;
}

.car .label {
  background-color: white;
  color: black;
}

.car .title {
  color: white;
  margin-top: 22px;
}

.car .subtitle {
  color: white;
  margin-top: 0px;
  font-size: 18px;
}

.car_img {
  display: block;
  margin-top: 39px;
  text-align: center;
}

.car_img_text {
  color: #222222;
  font-family: Roboto;
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
}

.terms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 919px;
  padding: 68px 0 84px 0;
}

.terms .title {
  margin-top: 18px;
}

.terms_li {
  margin-top: 33px;
  color: #222222;
  font-size: 17px;
  font-weight: 300;
  text-align: left;
}

.terms_li span {
  font-size: 22px;
  font-weight: 400;
  color: #1ca8c3;
}

.terms_li ul {
  margin-top: 10px;
  margin-left: 20px;
}

.terms_li li {
  list-style-type: none;
  margin-top: 5px;
  position: relative;
}

.terms_li li::before {
  content: url("../icons/bluev.png");
  position: absolute;
  left: -30px;
  top: 4px;
}

.terms_descr {
  color: #1ca8c3;
  font-weight: 300;
}

.requir {
  margin-top: 62px;
  color: #222222;
  font-size: 17px;
  font-weight: 300;
  text-align: left;
}

.requir span {
  font-size: 22px;
  font-weight: 400;
  color: #ff5656;
}

.requir ul {
  margin-top: 10px;
  margin-left: 20px;
}

.requir li {
  list-style-type: none;
  margin-top: 5px;
  position: relative;
}

.requir li::before {
  content: url("../icons/redv.png");
  position: absolute;
  left: -30px;
  top: 4px;
}

.city {
  min-height: 717px;
  background: url("../img/bg2.png") center center/cover no-repeat;
  padding: 49px 0 49px 0;
}

.city .label {
  background-color: white;
  color: black;
  width: 76px;
}

.city .title {
  color: white;
  margin-top: 19px;
}

.city .subtitle {
  color: white;
  margin-top: 0px;
}

.city_look {
  color: #1fbad6;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  margin-top: 486px;
}

footer {
  padding: 14px 0 31px 0;
}

.foother_line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 299px;
  height: 4px;
  background-color: #1fbad6;
}

.foother_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.foother_wrapper > div {
  width: 33%;
}

.foother_wrapper > div:nth-child(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.foother_social {
  width: 160;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.foother_social_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 4px;
}

.foother_social_item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 32px;
  height: 32px;
  background-color: #070716;
  border-radius: 100%;
  margin-left: 9px;
  color: white;
}

.foother_main, .foother_submain, .foother_language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.foother_main a, .foother_submain a, .foother_language a {
  text-align: left;
  text-transform: uppercase;
}

.foother_main a {
  margin-top: 32px;
  color: #070716;
  font-size: 15px;
  font-weight: 300;
}

.foother_submain a {
  margin-top: 15px;
  color: #999999;
  font-size: 11px;
  font-weight: 300;
}

.foother_language {
  margin-top: 19px;
  color: #1fbad6;
  font-size: 11px;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
}

.foother_social2 {
  display: none;
}

.subheader_visible {
  display: none;
}

@media (max-width: 1200px) {
  .menu .menu_item {
    padding-right: 20px;
  }
  .menu .menu_link {
    font-size: 13px;
  }
  .promo .promo_header {
    font-size: 50px;
  }
  .work .work_block {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .work .work_item_descr {
    width: 300px;
  }
}

@media (max-width: 991px) {
  .menu .menu_item {
    padding-right: 8px;
  }
  .menu .menu_link {
    font-size: 10px;
  }
  .subheader .subheader_logo img {
    width: 100%;
  }
  .subheader .subheader_official {
    font-size: 11px;
  }
  .subheader .subheader_phone {
    font-size: 18px;
  }
  .subheader .subheader_btn {
    margin-top: 21px;
    height: 40px;
    width: 100%;
  }
  .promo .promo_header {
    font-size: 40px;
  }
  .promo .promo_subheader {
    font-size: 30px;
  }
  .work .work_block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .work .work_item_descr {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .menu {
    z-index: 5;
    position: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    padding: 20px 15px;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-transition: 0.6s all;
    transition: 0.6s all;
  }
  .menu_active {
    left: 0;
  }
  .menu .menu_item {
    padding-right: 0;
    border: none;
    margin: 10px;
  }
  .menu .menu_link {
    font-size: 20px;
  }
  .hamburger {
    display: block;
    position: absolute;
    right: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 26px;
    height: 12px;
  }
  .hamburger span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: grey;
    margin-bottom: 2px;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
  }
  .hamburger_active span {
    margin-bottom: -2px;
  }
  .hamburger_active span:nth-child(1) {
    -webkit-transform: translateY(3px) rotate(-45deg);
            transform: translateY(3px) rotate(-45deg);
  }
  .hamburger_active span:nth-child(2) {
    display: none;
  }
  .hamburger_active span:nth-child(3) {
    -webkit-transform: translateY(3px) rotate(45deg);
            transform: translateY(3px) rotate(45deg);
  }
  .xs-hidden {
    display: none;
  }
  .subheader_visible {
    display: block;
    margin-top: 10px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
  }
  .subheader .subheader_btn {
    display: block;
    width: 200px;
    height: 40px;
    margin: 0 auto;
    margin-top: 10px;
  }
  .promo .promo_header {
    line-height: 45px;
  }
  .car_img img {
    width: 500px;
  }
  .foother_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .foother_wrapper > div {
    width: 50%;
  }
  .foother_wrapper > div:nth-child(3) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .foother_line {
    width: 50%;
  }
  .foother_main {
    margin: 0 auto;
    width: 281px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .foother_main a {
    color: #070716;
    font-size: 14px;
    font-weight: 300;
  }
  .foother_submain {
    margin: 0 auto;
    width: 244px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .foother_submain a {
    font-size: 11px;
    font-weight: 300;
  }
  .foother_language {
    margin-top: 13px;
    font-size: 11px;
    font-weight: 400;
  }
  .foother_mobile img {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
  }
  .foother_social {
    display: none;
  }
  .foother_social2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .subheader {
    height: 60px;
  }
  .subheader .subheader_official {
    display: none;
  }
  .subheader .subheader_logo {
    margin-top: 16px;
  }
  .subheader .subheader_phone {
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 11px;
  }
  .subheader .subheader_btn {
    width: 110px;
    height: 22px;
    font-size: 10px;
    margin-top: 6px;
  }
  .promo {
    min-height: 400px;
    padding: 93px 0 35px 0;
  }
  .promo .promo_descr {
    display: none;
  }
  .promo .promo_header {
    font-size: 30px;
    line-height: 35px;
    padding: 0 24px;
  }
  .promo .promo_subheader {
    font-size: 20px;
    line-height: 30px;
    margin-top: 33px;
    padding: 0 10px;
  }
  .promo .promo_btn {
    width: 210px;
    height: 50px;
    margin-top: 75px;
  }
  .menu {
    width: 85%;
  }
  .work {
    padding: 22px 0 36px 0;
  }
  .work .work_block {
    margin-top: 26px;
  }
  .work .work_item_wrapper {
    width: 100px;
    height: 100px;
  }
  .work .work_item_descr {
    width: 100%;
    margin-top: 27px;
  }
  .title {
    font-size: 16px;
    margin-top: 15px;
    line-height: 16px;
  }
  .mobile {
    padding: 23px 0 43px 0;
  }
  .mobile_item {
    width: 290px;
    height: 254px;
  }
  .car {
    min-height: 390px;
    background: url(../img/black.png) center center/cover no-repeat;
    padding: 23px 0 33px 0;
  }
  .car .title {
    display: none;
  }
  .car .subtitle {
    display: none;
  }
  .car_img_text {
    color: #ffffff;
    font-size: 17px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
  }
  .car_img img {
    width: 300px;
    height: 190px;
  }
  .terms {
    min-height: 1049px;
    padding: 25px 0 25px 0;
  }
  .terms .title {
    font-size: 16px;
    margin-top: 15px;
  }
  .terms_li {
    margin-top: 25px;
    font-size: 14px;
  }
  .terms_li span {
    font-size: 16px;
    ont-weight: 400;
  }
  .terms .requir {
    margin-top: 40px;
    font-size: 14px;
  }
  .terms .requir span {
    font-size: 16px;
    font-weight: 400;
  }
  .terms .requir2 {
    margin-top: 32px;
  }
  .city {
    min-height: 360px;
    padding: 25px 0;
  }
  .city .title {
    font-size: 16px;
    font-weight: 700;
    margin-top: 15px;
  }
  .city .subtitle {
    font-size: 14px;
    font-weight: 400;
    margin-top: 10px;
  }
  .city_look {
    margin-top: 216px;
    font-size: 15px;
  }
  footer {
    padding: 25px 0 20px 0;
  }
  footer .foother_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
   // display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer .foother_wrapper > div {
    width: 100%;
  }
  footer .foother_wrapper > div:nth-child(3) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .foother_line {
    width: 50%;
  }
  footer .foother_submain a {
    font-size: 11px;
    font-weight: 300;
    margin-right: 18px;
  }
  footer .foother_submain a:nth-last-child(1) {
    margin-right: 0;
  }
  footer .foother_submain a:nth-last-child(4) {
    margin-right: 0;
  }
  footer .addaptive {
    display: block;
    margin: 0 auto;
  }
}
/*# sourceMappingURL=style.css.map */
